<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungeon Radio Site</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
</head>

<body>
    {% include 'navbar.html' %}
    <main>
        <section>

            <!-- Data Blog -->
            {% for blog in blog_data %}

            <div class="blog-section">
                <div class="box-paragraph">
                    <!-- <h4>{{ blog.Date }} : {{ blog.Titre }}</h4> -->
                    <h4>{{ blog.Titre }}</h4>

                    {% for text in blog.Text %}
                    {% if "img src" in text %}
                    <div class="img-paragraph">
                        {{ text | safe }}
                    </div>
                    {% else %}
                    <div class="text-paragraph">
                        {{ text }}
                    </div>
                    {% endif %}


                    {% endfor %}
                </div>
            </div>
            {% endfor %}

            <div class="link-blog">
                <a href="{{ url_for('blog') }}">> > [All articles here] < <</a>
            </div>
        </section>

    </main>


    <!--  -->
    <!--  -->
    <!--  -->

    <!-- import html footer -->
    {% include 'footer.html' %}

    <script src="{{ url_for('static',filename='js/scripts.js') }}"></script>
</body>

</html>