<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungeon Radio Site</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
</head>

<body>

    <!-- import html navbar -->
    {% include 'navbar.html' %}

    <!-- <main> -->
    <main>

        <section>
            <div class="grid-events">
                <div class="box-event">
                    <img src="{{ url_for('static',filename='images/event_1.png') }}" alt="Event 1">
                    <h4>01-01-2025 : [Reggae Dub Session]</h4>
                </div>
                <div class="box-event">
                    <img src="{{ url_for('static',filename='images/event_2.png') }}" alt="Event 2">
                    <h4>01-01-2025 : [Reggae Dub Session]</h4>
                </div>
                <div class="box-event">
                    <img src="{{ url_for('static',filename='images/event_3.png') }}" alt="Event 3">
                    <h4>01-01-2025 : [Reggae Dub Session]</h4>
                </div>
                <div class="box-event">
                    <img src="{{ url_for('static',filename='images/event_1.png') }}" alt="Event 1">
                    <h4>01-01-2025 : [Reggae Dub Session]</h4>
                </div>
            </div>

        </section>

    </main>


    <!--  -->
    <!--  -->
    <!--  -->

    <!-- import html footer -->
    {% include 'footer.html' %}

    <script src="{{ url_for('static',filename='js/scripts.js') }}"></script>
</body>

</html>