<!DOCTYPE html>
<html lang="fr">

<head>

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-RWC8Z05DZ8"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-RWC8Z05DZ8');
    </script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungeon Radio Site</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
</head>


<body>
    {% include 'navbar.html' %}
    <main>
        <section>
            <p>Coming soon...</p>
            <!-- <div class="grid-events">
                {% for events in events_data %}
                <div class="box-event">
                    <img src="{{ url_for('static', filename='images/' + events.Image) }}" alt="{{ events.Titre }}">
                    <h4>{{ events.Date }} : {{ events.Titre }}</h4>
                </div>
                {% endfor %}
            </div> -->
        </section>

    </main>


    <!--  -->
    <!--  -->
    <!--  -->

    <!-- import html footer -->
    {% include 'footer.html' %}

    <script src="{{ url_for('static',filename='js/scripts.js') }}"></script>
</body>

</html>