<footer class="footer">
    <div class="footer-container">
        <!-- Plan du Site Section -->
        <div class="footer-section">
            <h3>PLAN DU SITE</h3>
            <ul>
                <li><a href="{{ url_for('index') }}">Home</a></li>
                <li><a href="{{ url_for('releases') }}">Releases</a></li>
                <li><a href="{{ url_for('events') }}">Events</a></li>
                <li><a href="{{ url_for('blog') }}">Archives</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>

        <!-- Contact Section -->
        <div class="footer-section">
            <h3>CONTACT</h3>
            <p>HIGHDUNGEONPRODUCTION@GMAIL.COM</p>
        </div>

        <!-- Formulaire de Contact
        <div class="footer-section">
            <form action="#" method="post" class="contact-form">
                <div class="form-group">
                    <input type="text" name="nom" placeholder="NOM" class="form-input">
                    <input type="text" name="prenom" placeholder="PRÉNOM" class="form-input">
                </div>
                <input type="email" name="email" placeholder="ADRESSE MAIL" class="form-input">
                <textarea name="message" placeholder="ÉCRIVEZ VOTRE MESSAGE..." class="form-textarea"></textarea>
                <button type="submit" class="form-button">ENVOYER</button>
            </form>
        </div>
    </div> -->

        <!-- Social Media Links -->
        <!-- <div class="footer-socials">
            <a href="#" class="social-icon">&#xf09a;</a>
            <a href="#" class="social-icon">&#xf16d;</a>
        </div> -->
</footer>