<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dungeon Radio Site</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/styles.css') }}">
</head>

<body>

    <!-- import html navbar -->
    {% include 'navbar.html' %}

    <!-- <main> -->
    <main>

        <section>
            <div class="grid_relases">
                <!-- Data Releases -->
                {% for release in releases_data %}
                <div class="box-release">
                    <a href="{{ release.Link }}" target="_blank">
                        <img src="{{ url_for('static', filename='images/' + release.Image) }}"
                            alt="{{ release.Titre }}">
                        <h4>{{ release.Titre }}</h4>
                    </a>
                </div>
                {% endfor %}
            </div>

            <div class="link-releases">
                <a href="{{ url_for('releases') }}">> > [All releases here] < <</a>
            </div>
        </section>

        <section>

            <!-- Data Blog -->
            {% for blog in blog_data %}

            <div class="blog-section">
                <div class="box-paragraph">
                    <!-- <h4>{{ blog.Date }} : {{ blog.Titre }}</h4> -->
                    <h4>{{ blog.Titre }}</h4>

                    {% for text in blog.Text %}
                    {% if "img src" in text %}
                    <div class="img-paragraph">
                        {{ text | safe }}
                    </div>
                    {% else %}
                    <div class="text-paragraph">
                        {{ text }}
                    </div>
                    {% endif %}


                    {% endfor %}
                </div>
            </div>
            {% endfor %}

            <div class="link-blog">
                <a href="{{ url_for('blog') }}">> > [All articles here] < <</a>
            </div>
        </section>

        <!-- Data Events -->
        <!-- <section>
            <div class="grid-events">
                {% for events in events_data %}
                <div class="box-event">
                    <img src="{{ url_for('static', filename='images/' + events.Image) }}" alt="{{ events.Titre }}">
                    <h4>{{ events.Date }} : {{ events.Titre }}</h4>
                </div>
                {% endfor %}
            </div>

            <div class="link-events">
                <a href="{{ url_for('events') }}">> > [All events here] < <</a>
            </div>
        </section> -->

    </main>


    <!--  -->
    <!--  -->
    <!--  -->
    {% include 'footer.html' %}

    <script src="{{ url_for('static',filename='js/scripts.js') }}"></script>
</body>

</html>